{#
/**
 * @file
 * Default theme implementation of Cricket score widget.
 *
 * Available variables:
 * - width: The display width of the Cricket score block.
 * - height: The display height of the Cricket score block.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
	<object height="{{ height }}" width="{{ width }}"><param value="http://static.cricinfo.com/db/SUPPORT/ADVERTS/TESTING/WIDGETS/stat_cric/300x250_APR/liveScores.swf" name="movie"><embed height="{{ height }}" width="{{ width }}" src="http://static.cricinfo.com/db/SUPPORT/ADVERTS/TESTING/WIDGETS/stat_cric/300x250_APR/liveScores.swf"></object>'
{% endspaceless %}

